:ruby
  billboard_data = {
    case_data: render(
      template: 'cases/_case',
      formats: [:json],
      locals: { c: @deployment.case }
    ),
    group_data: @deployment.group.slice(:name).to_json,
    deployment_key: @deployment.key
  }

#billboard-app{ data: billboard_data }
= javascript_pack_tag 'billboard'
