- content_for :title do
  = I18n.t('magic_link.show.lets_get_started')
  —
  = deployment.case.short_title


:ruby
  billboard_data = {
    case_data: ActiveModel::Serializer.for(deployment.case).to_json,
    group_data: deployment.group.slice(:name).to_json,
    deployment_key: deployment.key
  }

#billboard-app{ data: billboard_data }
= javascript_pack_tag 'billboard'
