:ruby
  billboard_data = {
    case_data: ActiveModel::Serializer.for(@deployment.case.decorate).to_json,
    group_data: @deployment.group.slice(:name).to_json,
    deployment_key: @deployment.key
  }

#billboard-app{ data: billboard_data }
= javascript_pack_tag 'billboard'
