<% content_for(:title) { I18n.t 'reading_lists.new.new_list' } %>

<div class="admin reading-list bp3-dark">
  <h1 class="admin__title">
    <%= t '.new_list' %>
  </h1>

  <%= render 'form', reading_list: @reading_list %>
</div>

