{
  "env": {
    "development": {
      "plugins": ["@babel/transform-react-jsx-source"]
    },
    "test": {
      "presets": ["@babel/preset-env"]
    }
  },
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": [">0.25%", "not ie 11", "not op_mini all"]
        },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/react",
    "@babel/flow"
  ],

  "plugins": [
    "babel-plugin-styled-components",
    "@babel/syntax-dynamic-import",
    "@babel/proposal-object-rest-spread",
    "@babel/proposal-optional-chaining",
    ["@babel/proposal-class-properties", { "spec": true }]
  ]
}
