# Ignore log files
log/*

# Ignore temp files
tmp/*

# Ignore PID files
*.pid

# Ignore config secrets
config/master.key
config/credentials.yml.enc

# Ignore uploaded files
storage/*

# Ignore the database files
db/*.sqlite3
db/*.sqlite3-journal

# Ignore bundler cache
vendor/bundle

# Ignore node_modules
node_modules/

# Ignore test artifacts and coverage
coverage/
spec/reports/
test/reports/

# Ignore git files
.git
.gitignore

# Ignore Dockerfiles
Dockerfile
Dockerfile.dev
Dockerfile.*

# Ignore other development tools
.env
.env.*