#!/usr/bin/env bash

dotenv .env.local

PATH_add bin
PATH_add bin/ci

layout node
use rbenv

export PROJECT_ROOT="$(pwd)"
export PROJECT_NAME="gala2"
export COMPOSE_PROJECT_NAME="$PROJECT_NAME"

export LDFLAGS="-L/usr/local/opt/openssl/lib"
export CPPFLAGS="-I/usr/local/opt/openssl/include"

export BUNDLE_PATH="vendor/bundle"
export BUNDLE_VERSION="2.4.19"

export AWS_PROFILE="np"

