#!/usr/bin/env bash

dotenv .env.local

PATH_add bin

layout node

use rbenv

current_dir="$(pwd)"
export PROJECT_ROOT="$current_dir"
export PROJECT_NAME="gala2"
export COMPOSE_PROJECT_NAME="$PROJECT_NAME"

export LDFLAGS="-L/usr/local/opt/openssl/lib"
export CPPFLAGS="-I/usr/local/opt/openssl/include"

export RAILS_ENV="development"

export AWS_PROFILE=np

