services:
  web:
    image: gala_ruby3-2_rails7-0x_1:latest
    platform: linux/amd64
    build:
      dockerfile: Dockerfile
      context: .
      args:
        rails_env: development
        secret_key_base: placeholder
    command: bundle exec foreman start -f Procfile.dev
    environment:
      MAPBOX_ACCESS_TOKEN: ${MAPBOX_ACCESS_TOKEN}
      DATABASE_URL: postgres://gala:alpine@db:5432/gala
      REDIS_URL: redis://redis:6379/0
      RAILS_LOG_TO_STDOUT: true
      RAILS_SERVE_STATIC_FILES: true
      WEB_CONCURRENCY: 2
      SIDEKIQ_CONCURRENCY: 5
      RUBY_YJIT_ENABLE: 1
      DOCKER_DEV: true
      TEMPORARY_UNCONFIRMED_ACCESS: false
      BASE_URL: http://localhost:3000
      PORT: 3000
    ports:
      - 3000:3000
      - 3035:3035
    depends_on:
      - db
      - redis
    volumes:
      - .:/gala:delegated
      - node_modules:/gala/node_modules
      - build_cache:/gala/tmp/cache
  db:
    image: postgres:16.4
    platform: linux/amd64
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U gala"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: gala
      POSTGRES_PASSWORD: alpine
    ports:
      - 5432:5432
    volumes:
      - ./db/structure.sql:/docker-entrypoint-initdb.d/structure.sql
      - db_data:/var/lib/postgresql/data
  redis:
    image: redis:7
    ports:
      - 6379:6379
volumes:
  db_data:
  node_modules:
  build_cache:
