:root {
  --gala-blueprint-intent-primary: hsl(256, 60%, 57%);
  --gala-blueprint-intent-primary-hover: hsl(256, 47%, 50%);
  --gala-blueprint-intent-primary-active: hsl(255, 43%, 43%);
  --gala-blueprint-intent-success: hsl(125, 41%, 44%);
  --gala-blueprint-intent-success-hover: hsl(125, 45%, 37%);
  --gala-blueprint-intent-success-active: hsl(125, 52%, 32%);
  --gala-blueprint-light: hsl(48, 33%, 97%);
  --gala-blueprint-dark: hsl(209, 96%, 9%);
  --gala-blueprint-muted: hsl(208, 12%, 42%);
  --gala-blueprint-callout-dark: hsl(209, 31%, 39%);
  --gala-focus-ring: rgba(170, 148, 232, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: unset;
}

*:focus {
  outline-color: var(--gala-focus-ring);
  outline-offset: 2px;
}

:is(.pt-toast-container, .bp4-toast-container, .bp6-toast-container) {
  z-index: 500;
}

:is(.pt-editable-text, .bp4-editable-text, .bp6-editable-text):is(.pt-disabled, .bp4-disabled, .bp6-disabled) {
  cursor: inherit;
  display: inline !important;
}

:is(.pt-button, .bp4-button, .bp6-button) {
  margin: 0;

  &.pt-button--baseline-aligned {
    display: inline-block;
    text-align: center;
  }
}

input[type="submit"]:is(.pt-button, .bp4-button, .bp6-button),
input[type="submit"]:is(.pt-button, .bp4-button, .bp6-button):empty {
  padding: 5px 10px !important;
}

:is(.pt-button, .bp4-button, .bp6-button):is(.pt-intent-primary, .bp4-intent-primary, .bp6-intent-primary) {
  background-color: var(--gala-blueprint-intent-primary);

  &:hover {
    background-color: var(--gala-blueprint-intent-primary-hover);
  }

  &:active,
  &:is(.pt-active, .bp4-active, .bp6-active) {
    background-color: var(--gala-blueprint-intent-primary-active);
  }
}

:is(.pt-button, .bp4-button, .bp6-button):is(.pt-intent-success, .bp4-intent-success, .bp6-intent-success) {
  background-color: var(--gala-blueprint-intent-success);

  &:hover {
    background-color: var(--gala-blueprint-intent-success-hover);
  }

  &:active,
  &:is(.pt-active, .bp4-active, .bp6-active) {
    background-color: var(--gala-blueprint-intent-success-active);
  }
}

:is(.pt-input, .bp4-input, .bp6-input) {
  -webkit-appearance: none;
}

:is(.pt-toast-message, .bp4-toast-message, .bp6-toast-message) {
  :is(.pt-progress-bar, .bp4-progress-bar, .bp6-progress-bar) {
    margin-top: 5px;
  }
}

:is(.pt-control, .bp4-control, .bp6-control) input {
  position: absolute !important;
}

:is(.pt-dark, .bp4-dark, .bp6-dark) [class*="intent-"],
[class*="intent-"] :is(.pt-dark, .bp4-dark, .bp6-dark) {
  :is(.pt-tag, .bp4-tag, .bp6-tag):not(:is(.pt-minimal, .bp4-minimal, .bp6-minimal)):not([class*="intent-"]) {
    background-color: var(--gala-blueprint-light);
  }
}

:is(.pt-tag, .bp4-tag, .bp6-tag) {
  :is(.pt-icon, .bp4-icon, .bp6-icon) {
    margin: 0 0.25em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

:is(.pt-button, .bp4-button, .bp6-button):is(.pt-minimal, .bp4-minimal, .bp6-minimal).pt-unsaturated[class*="intent-"]:not(:hover) {
  color: var(--gala-blueprint-dark);

  &::before {
    color: var(--gala-blueprint-muted) !important;
  }
}

:is(.pt-dark, .bp4-dark, .bp6-dark) {
  :is(.pt-button, .bp4-button, .bp6-button):is(.pt-minimal, .bp4-minimal, .bp6-minimal).pt-unsaturated[class*="intent-"]:not(:hover) {
    color: var(--gala-blueprint-light);

    &::before {
      color: hsl(200, 5%, 78%) !important;
    }
  }
}

:is(.pt-tag-input, .bp4-tag-input, .bp6-tag-input) input {
  font-size: 100%;
  margin-bottom: 6px;
  margin-left: 1px;
}

:is(.pt-popover, .bp4-popover, .bp6-popover):is(.pt-multi-select-popover, .bp4-multi-select-popover, .bp6-multi-select-popover) {
  max-height: 30em;
  overflow: auto;
}

:is(.pt-label, .bp4-label, .bp6-label) :is(.pt-file-input, .bp4-file-input, .bp6-file-input) {
  margin-top: 5px;
}

:is(.pt-icon-drag-handle-horizontal, .bp4-icon-drag-handle-horizontal, .bp6-icon-drag-handle-horizontal) {
  cursor: ns-resize;
}

:is(.pt-form-group, .bp4-form-group, .bp6-form-group) :is(.pt-label, .bp4-label, .bp6-label) :is(.pt-file-input, .bp4-file-input, .bp6-file-input) {
  margin-top: 0;
}

button > svg,
button > svg > path,
button > svg > title {
  pointer-events: none;
}

:is(.pt-callout, .bp4-callout, .bp6-callout) {
  :is(.pt-callout-title, .bp4-callout-title, .bp6-callout-title) {
    font-size: 16px !important;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

:is(.pt-dark, .bp4-dark, .bp6-dark) :is(.pt-callout, .bp4-callout, .bp6-callout) {
  background-color: var(--gala-blueprint-callout-dark);
}
