$icon-font-path: "~@blueprintjs/icons/resources/icons";
$bp3-line-height: 1.22;

$white: hsl(60, 43%, 99%);

$dark-gray1: hsl(209, 96%, 9%);
$dark-gray2: hsl(209, 62%, 14%);
$dark-gray3: hsl(209, 43%, 18%);
$dark-gray4: hsl(208, 34%, 22%);
$dark-gray5: hsl(209, 26%, 26%);

$gray1: hsl(208, 12%, 42%);
$gray2: hsl(207, 9%, 49%);
$gray3: hsl(208, 8%, 58%);
$gray4: hsl(204, 6%, 70%);
$gray5: hsl(200, 5%, 78%);

$light-gray1: hsl(160, 4%, 84%);
$light-gray2: hsl(150, 3%, 87%);
$light-gray3: hsl(90, 4%, 91%);
$light-gray4: hsl(45, 12%, 94%);
$light-gray5: hsl(48, 33%, 97%);

$blue1: hsl(255, 43%, 43%);
$blue2: hsl(256, 47%, 50%);
$blue3: hsl(256, 60%, 57%);
$blue4: hsl(256, 64%, 63%);
$blue5: hsl(256, 72%, 71%);

$green1: hsl(125, 52%, 32%);
$green2: hsl(125, 45%, 37%);
$green3: hsl(125, 41%, 44%);
$green4: hsl(125, 40%, 51%);
$green5: hsl(125, 48%, 61%);

@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";

h1, h2, h3, h4, h5, h6 {
  line-height: unset;
}

*:focus {
  outline-color: rgba(170, 148, 232, 0.5);
  outline-offset: 2px;
}

.bp3-toast-container {
  z-index: 500;
}

.bp3-editable-text.bp3-disabled {
  display: inline !important;
  cursor: inherit;
}

.bp3-button {
  margin: 0;
}

.bp3-button.bp3-button--baseline-aligned {
  display: inline-block;
  text-align: center;
}

input[type="submit"].bp3-button:empty {
  padding: 5px 10px !important;
}

.bp3-input {
  -webkit-appearance: none;
}

.bp3-toast-message {
  .bp3-progress-bar {
    margin-top: 5px;
  }
}

.bp3-control {
  input {
    position: absolute !important;
  }
}

.bp3-dark [class*="bp3-intent-"],
[class*="bp3-intent-"] .bp3-dark {
  .bp3-tag:not(.bp3-minimal):not([class*="bp3-intent-"]) {
    background-color: hsl(48, 33%, 97%);
  }
}

.bp3-tag {
  .bp3-icon {
    margin: 0 0.25em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.bp3-button.bp3-minimal.bp3-unsaturated[class*="bp3-intent-"]:not(:hover) {
  color: hsl(209, 96%, 9%);

  &:before {
    color: hsl(208, 12%, 42%) !important;
  }
}

.bp3-dark {
  .bp3-button.bp3-minimal.bp3-unsaturated[class*="bp3-intent-"]:not(:hover) {
    color: hsl(48, 33%, 97%);

    &::before {
      color: hsl(200, 5%, 78%) !important;
    }
  }
}

.bp3-tag-input input {
  font-size: 100%;
  margin-left: 1px;
  margin-bottom: 6px;
}


.bp3-popover.bp3-multi-select-popover {
  max-height: 30em;
  overflow: auto;
}

.bp3-label .bp3-file-input {
  margin-top: 5px;
}

.bp3-icon-drag-handle-horizontal {
  cursor: ns-resize;
}

.bp3-form-group .bp3-label .bp3-file-input {
  margin-top: 0;
}

button > svg,
button > svg > path,
button > svg > title {
  pointer-events: none;
}

.bp3-callout .bp3-callout-title {
  font-size: 16px !important;
}

.bp3-dark .bp3-callout {
  background-color: hsl(209, 31%, 39%);
}
.bp3-callout p:last-child {
  margin-bottom: 0;
}
