@import 'main';
@import '_flexbox';
@import '_tint_and_shade';

#CaseReader {
  /*background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://www.osu.edu/alumni/assets/uploads/galleries/Wolves_of_Yellowstone_Pic_1.jpg') no-repeat center center fixed; */
  /*background-size: cover;*/
  background-color: tint($umichBlue, 20%);

  min-height: 100%;
  position: relative;

  header {
    background-color: $umichBlue;

    padding: 1em;
    margin-bottom: 1em;

    h1 {
      margin: 2pt 1pt;
      height: 1.1em;
      background-image: url('../images/msc-logo.svg');
      background-size: 15em;
      @media screen and (max-width: $mobileCutoff) {
        background-size: 12em;
        height: 0.9em;
      }
      background-repeat: no-repeat;
      span { display: none }
    }
  }

  #Sidebar {
    @media screen and (min-width: $mobileCutoff) {
      width: 12em;
      position: absolute;
      top: 4.4em;
    }

    background-color: rgba( darken($black, 10%), 0.6 );

    border-radius: 2pt;

    margin: 2em 1em;
    padding: 1em;

    #Headline {
      color: $white;
      h2 {
        font: 17pt $headlineFont;
        line-height: 20pt;
        font-weight: 600;
        letter-spacing: 0px;
        margin: 0;
      }
    }

    #TableOfContents {
      h4 {
        font: 12pt $sansFont;
        font-style: italic;
        letter-spacing: 0;
        color: $white;

        margin-bottom: 0;
      }
      ol {
        font: 11pt/14pt $sansFont;
        color: lighten($umichMaize, 20%);
        margin: 0.5em 0;
        padding-left: 1.5em;

        li {
          margin: 0.3em 0;
        }
        li a {
          color: inherit !important;
          text-decoration: none;
          transition: background .15s cubic-bezier(.33, .66, .66, 1);
        }

        li:hover a {
          background-color: $purple;
        }

        li.focus a {
          background-color: $purple;
        }
      }
    }
  }

  article {

    section {
      @media screen and (min-width: $mobileCutoff) {
        margin-left: 16em;
      }
      @include flexbox;
      @include flex-flow(row wrap);
      @include justify-content(space-between);

      h1, h2, h3, h4, h5, h6,
      blockquote {
        color: $white;
        margin: 20px 20px 0 20px;
        @media screen and (min-width: $mobileCutoff) {
          margin: 20px 30px 5px 30px;
        }
      }
      blockquote{
        background-color: rgba($black, 0.6);
      }

      .Card {
        font-size: 14pt;
        line-height: 14pt * 1.43;
        background-color: $white;
        height: 100%;

        border-radius: 2pt;

        @include flex($fg: 0, $fs: 1, $fb: 35em);

        padding: 0em 0.7em;
        margin: 9px;
        @media screen and (min-width: $mobileCutoff) {
          padding: 1.2em 2.4em;
          margin: 0.5em 1em;
        }

        a {
          text-decoration: none;
          color: inherit;
          box-shadow: inset 0 -.35em 0 $lightGreen;
          border-bottom: 1px solid $lightGreen;
          transition: background .15s cubic-bezier(.33, .66, .66, 1);
        }

        a:hover {
          background-color: $lightGreen;
        }
      }

      aside {
        @include flexbox;
        @include flex-flow(row wrap);
        @include justify-content(center);

        @include flex($fg: 1, $fs: 1, $fb: 20em);

        max-width: 45.6em;

        margin: 9px;
        padding: 0.3em;
        padding-bottom: 0;

        @media screen and (min-width: $mobileCutoff) {
          margin: 10px 1em;
          padding: 0.5em;
        }

        height: 100%;

        background-color: rgba( darken($black, 10%), 0.6 );

        border-radius: 2pt;

        figure {
          @media screen and (min-width: $mobileCutoff) {
            @include flex($fg: 1, $fs: 0, $fb: 35%);
          }

          max-width: 20em;
          height: 100%;

          margin: 0.5em;
          padding: 0.11em;

          @media screen and (min-width: $mobileCutoff) {
            margin: 0.5em;
            padding: 0.75em;
          }

          img {
            width: 100%;
          }

          figcaption {
            font-family: $serifFont + " Medium Italic";
            color: $white;
            font-size: 12pt;
            display: inline;
            padding: 2pt;
            padding-left: 0;
            padding-right: 0;
            -webkit-box-decoration-break: clone;
            -ms-box-decoration-break: clone;
            -o-box-decoration-break: clone;
            box-decoration-break: clone;

            box-shadow: 2pt 0 0 none, -2pt 0 0 none;
            transition: background .15s cubic-bezier(.33, .66, .66, 1),
                        box-shadow .15s cubic-bezier(.33, .66, .66, 1),
                        color .15s cubic-bezier(.33, .66, .66, 1);
          }

          figcaption:hover, figcaption.focus {
            background-color: $lightGreen;
            color: $black;
            box-shadow: 2pt 0 0 $lightGreen, -2pt 0 0 $lightGreen;
          }
        }
      }
    }
  }
}
