@import 'main';
@import '_flexbox';
@import '_tint_and_shade';

#CaseReader,
#CaseOverview {
  background-color: tint($umichBlue, 20%);

  min-height: 100%;
  position: relative;

  padding-top: 1em;
}
