// GLOBAL VARIABLES
$darkGreen: #357E3C;
$lightGreen: #6ACB72;
$purple: #7351D4;
$lightBrown: #986A40;
$darkBrown: #7E5C3C;

$umichMaize: #F1C432;
$umichBlue: #02284B;

$black: #262626;
$white: #EBEAE4;

body {
  background-color: lighten($black, 10%);
  margin: 0;
  font: 11pt/19pt 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 1px;
}
