// GLOBAL VARIABLES
$darkGreen: #357E3C;
$lightGreen: #6ACB72;
$blue: #7351D4;
$lightBrown: #986A40;
$darkBrown: #7E5C3C;

$black: #262626;
$white: #EBEAE4;

body {
  background-color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 1px;
}
