// GLOBAL VARIABLES
$darkGreen: #357E3C;
$lightGreen: #6ACB72;
$purple: #7351D4;
$lightBrown: #986A40;
$darkBrown: #7E5C3C;

$umichMaize: #F1C432;
$umichBlue: #02284B;

$black: #262626;
$white: #EBEAE4;

$mobileCutoff: 740px;

$serifFont: "Freight Text";
$serifFontSize: 12pt;
$serifLeading: $serifFontSize * 1.43;

$headlineFont: "Aleo";
$sansFont: "Alegreya Sans";

@font-face {
  font-family: "Aleo";
  src: url('../fonts/aleo-regular-webfont.woff') format('woff');
}

strong {
  font-weight: inherit;
  font-family: $serifFont + " Book SC";
  letter-spacing: 1px;
}
em {
  font-family: $serifFont + " Book Italic";
  font-style: normal;
}


html {height: 100%}
body {height: 100%}
div#container { height: 100% }
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background-color: $umichBlue;
  margin: 0;
  font: $serifFontSize $serifFont + " Book";
  line-height: $serifLeading;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headlineFont;
  font-weight: 600;
}

h1 {
  font-size: 1.5em;
  line-height: 1.0em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}

h5 {
  font-style: italic;
}

h6 {
  font-size: 0.9em;
}

ul, ol {
  padding-left: 1em;
}

blockquote {
  font-size: 0.90em;
  line-height: 1.5em;
  width: 50em;
  padding: 0 2em 0 2em;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, blockquote, p, figcaption, a, abbr, span,
em, strong {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

header {
  background-color: $umichBlue;

  padding: 1em;

  h1 {
    margin: 0pt 1pt;
    svg {
      width: 15em;
      @media screen and (max-width: $mobileCutoff) {
        width: 12em;
      }
    }
    background-repeat: no-repeat;
    span { display: none }
  }
}
