@import 'CaseReader';

#Sidebar {
  @media screen and (min-width: $mobileCutoff) {
    width: 12em;
    position: absolute;
    top: 4.4em;
  }

  background-color: rgba( darken($black, 10%), 0.6 );

  border-radius: 2pt;

  margin: 2em 1em;
  padding: 1em;

  #Headline {
    color: $white;
    h2 {
      font: 17pt $headlineFont;
      line-height: 20pt;
      font-weight: 600;
      letter-spacing: 0px;
      margin: 0;
    }
  }

  #TableOfContents {
    h4 {
      font: 12pt $sansFont;
      font-style: italic;
      letter-spacing: 0;
      color: $white;

      margin-bottom: 0;
    }
    ol {
      font: 11pt/14pt $sansFont;
      color: lighten($umichMaize, 20%);
      margin: 0.5em 0;
      padding-left: 1.5em;

      li {
        margin: 0.3em 0;
      }
      li a {
        color: inherit !important;
        text-decoration: none;
        transition: background .15s cubic-bezier(.33, .66, .66, 1);
      }

      li:hover a {
        background-color: $purple;
      }

      li.focus a {
        background-color: $purple;
      }
    }
  }
}

