development:
  adapter: redis
  channel_prefix: orchard_development
  url: <%= ENV.fetch('REDIS_URL') { "redis://localhost:6379/0" } %>
  ssl_params: {
    verify_mode: <%= OpenSSL::SSL::VERIFY_NONE %>
  }

test:
  adapter: async

production:
  adapter: redis
  channel_prefix: orchard_production
  url: <%= ENV.fetch('REDIS_URL') { 'redis://localhost:6379/0' } %>
  ssl_params: {
    verify_mode: <%= OpenSSL::SSL::VERIFY_NONE %>
  }
