- content_for :title, '403 Forbidden'

.pt-dark
  .pt-non-ideal-state
    .pt-non-ideal-state-visual.pt-non-ideal-state-icon
      %span.pt-icon.pt-icon-error

    %h4.pt-non-ideal-state-title 403 Forbidden

    .pt-non-ideal-state-description
      %p You do not have permission to access this resource.

    .pt-non-ideal-state-action
      = link_to 'Return to the Home Page', root_path,
                class: %i[pt-button pt-intent-primary]

