- content_for :title, '403 Forbidden'

.bp3-dark
  .bp3-non-ideal-state
    .bp3-non-ideal-state-visual.bp3-non-ideal-state-icon
      %span.bp3-icon.bp3-icon-error

    %h4.bp3-non-ideal-state-title 403 Forbidden

    .bp3-non-ideal-state-description
      %p You do not have permission to access this resource.

    .bp3-non-ideal-state-action
      = link_to 'Return to the Home Page', root_path,
                class: %i[bp3-button bp3-intent-primary]

