- content_for :title, '404 Not Found'

.pt-dark
  .pt-non-ideal-state
    .pt-non-ideal-state-visual.pt-non-ideal-state-icon
      %span.pt-icon.pt-icon-error

    %h4.pt-non-ideal-state-title Not Found

    .pt-non-ideal-state-description
      %p
        The page you were looking for doesn’t exist.
        %br
        Try searching to find what you’re looking for.

      .pt-non-ideal-state-action
        = form_with url: '/catalog/search', local: true, method: :get do
          .pt-input-group.pt-round
            %span.pt-icon.pt-icon-search
            %input.pt-input{ name: "q",
                             placeholder: I18n.t('search.search_cases'),
                             type: "text" }
              %span.pt-input-action
              %button.pt-button.pt-minimal.pt-icon-arrow-right(type="submit")
