$darkGreen: #357E3C;
$lightGreen: #6ACB72;
$purple: #7351D4;
$lightBrown: #986A40;
$darkBrown: #7E5C3C;

$umichMaize: #F1C432;
$umichBlue: #02284B;

$black: #262626;
$white: #EBEAE4;

$mobileCutoff: 513px;

$serifFont: "freight-text-pro";
$serifFontSize: 100%;
$serifLeading: $serifFontSize * 1.43;

$headlineFont: "aleo";
$sansFont: "tenso";
