@import '_tint_and_shade';
$darkGreen: #357E3C;
$lightGreen: #6ACB72;
$purple: #7351D4;
$darkPurple: #493092;
$lightBrown: #986A40;
$darkBrown: #7E5C3C;
$red: #B51957;

$umichMaize: #F1C432;
$umichBlue: #02284B;

$darkBlue: #1E2934;
$background: tint($umichBlue, 20%);

$yellow: lighten($umichMaize, 20%);

$black: #262626;
$white: #EBEAE4;

$mobileCutoff: 513px;

$serifFont: "freight-text-pro";
$serifFontSize: 100%;
$serifLeading: $serifFontSize * 1.43;

$headlineFont: "adelle";
$sansFont: "tenso";
