@import _globals

:root
  --gala-color-green-dark: #{$darkGreen}
  --gala-color-green-light: #{$lightGreen}
  --gala-color-purple: #{$purple}
  --gala-color-purple-dark: #{$darkPurple}
  --gala-color-red: #{$red}
  --gala-color-maize: #{$umichMaize}
  --gala-color-blue: #{$umichBlue}
  --gala-color-blue-dark: #{$darkBlue}
  --gala-color-background: #{$background}
  --gala-color-yellow: #{$yellow}
  --gala-color-black: #{$black}
  --gala-color-white: #{$white}
  --gala-font-serif: #{$serifFont}
  --gala-font-sans: #{$sansFont}, sans-serif
  --gala-radius-tight: 2pt
  --gala-focus-ring: rgba(170, 148, 232, 0.5)
  --gala-blueprint-intent-primary: hsl(256, 60%, 57%)
  --gala-blueprint-intent-primary-hover: hsl(256, 47%, 50%)
  --gala-blueprint-intent-primary-active: hsl(255, 43%, 43%)
  --gala-blueprint-intent-success: hsl(125, 41%, 44%)
  --gala-blueprint-intent-success-hover: hsl(125, 45%, 37%)
  --gala-blueprint-intent-success-active: hsl(125, 52%, 32%)
