@keyframes anchor-focus {
  from {
    background-color: rgba(65, 157, 72, 0.25);
  }

  to {
    background-color: transparent;
  }
}

.deployment.anchor-focused {
  animation: 1.5s ease-in backwards anchor-focus;
  animation-delay: 1s;
  border-radius: 2pt;
  margin: 0.6em -0.5em -0.45em;
  padding: 0.4em 0.5em 0.45em;
}
