.spaced {
  * + * {
    margin-top: 1em;
  }

  .row {
    * + * {
      margin-top: 0;
      margin-left: 1em;
    }
  }

  .row--compact {
    * + * {
      margin-top: 0;
      margin-left: 0.5em;
    }
  }
}

.spaced--compact {
  * + * {
    margin-top: 0.5em;
  }
}

.spaced, .spaced--compact {
  * + label.bp4-label {
    margin: 1em 0 0;
  }

  .non-spaced, .bp4-form-group, .bp4-callout, .bp4-control-group, .bp4-input-group,
  .bp4-button-group, .bp4-file-input {
    * + * {
      margin-top: 0;
    }
  }
}

.row, .row-compact {
  .non-spaced, .bp4-form-group, .bp4-callout, .bp4-control-group, .bp4-input-group,
  .bp4-button-group, .bp4-file-input {
    * + * {
      margin-left: 0;
    }
  }
}
