.spaced {
  * + * {
    margin-top: 1em;
  }

  .row {
    * + * {
      margin-top: 0;
      margin-left: 1em;
    }
  }

  .row--compact {
    * + * {
      margin-top: 0;
      margin-left: 0.5em;
    }
  }
}

.spaced--compact {
  * + * {
    margin-top: 0.5em;
  }
}

.spaced, .spaced--compact {
  * + label.pt-label {
    margin: 1em 0 0;
  }

  .non-spaced, .pt-form-group, .pt-callout, .pt-control-group, .pt-input-group,
  .pt-button-group, .pt-file-input {
    * + * {
      margin-top: 0;
    }
  }
}

.row, .row-compact {
  .non-spaced, .pt-form-group, .pt-callout, .pt-control-group, .pt-input-group,
  .pt-button-group, .pt-file-input {
    * + * {
      margin-left: 0;
    }
  }
}
