@import _globals

*:focus
  outline-color: rgba(170, 148, 232, 0.5)
  outline-offset: 2px

.pt-toast-container
  z-index: 500

.pt-editable-text.pt-disabled
  display: inline !important
  cursor: inherit

.pt-button
  margin: 0

.pt-input
  -webkit-appearance: none

.pt-toast-message
  .pt-progress-bar
    margin-top: 5px

.pt-control
  input
    position: absolute !important
