@import '_globals';
@import '_flexbox';
@import '_tint_and_shade';

#CaseOverview {

  @include flexbox;
  @include flex-flow(row);
  @media screen and (max-width: $mobileCutoff) {
    @include flex-flow(row wrap);
  }
  @include justify-content(center);

  .Billboard {
    @include flex($fg: 0, $fs: 1, $fb: 40em);
    margin: 1em;

    .Card.BillboardSnippet {
      margin-top: 1.5em !important;
      padding: 1em 2em;
      @media screen and (max-width: $mobileCutoff) {
        padding: 1em;
      }
      h3 { font-style: italic }
    }
  }

  .CaseOverviewRight {
    @include flex($fg: 0, $fs: 1, $fb: 25em);

    & > * { margin: 1em; }
    .Actions {
      background-color: rgba( darken($black, 10%), 0.6 );
      border-radius: 2pt;
      height: 100%;
      padding: 1em;

      &.disabled {
        ul, ol, a { color: mix($darkBlue, $white, 40%); }
      }

      ul {
        color: lighten($umichMaize, 20%);
        list-style-type: circle;
        margin: 0.5em 0;
        padding-left: 1.5em;
      }

      h2 {
        color: $white;

        .ActionIcon {
          float: left;
          margin-top: -5px;
          margin-right: 0.5em;
        }
      }

      & >div {
        margin-top: 2em;
      }
      & > div:first-child {
        margin-top: 1em;
      }
    }
  }
}

.BillboardTitle {
  background-size: cover;
  background-position: center;
  border-radius: 2pt;

  padding: 1em 2em;
  padding-top: 10em;

  h1 {
    color: $white;
    margin: 0;
    width: 100%;
    line-height: 1.1;
  }
  h4 {
    font-family: $sansFont;
    font-weight: 500;
    color: $white;
    width: 100%;
    margin-top: 0.5em;
    line-height: 1.1;
  }
}

.BillboardTitle,
.PodcastPlayer .artwork,
.EdgenoteDisplay {

  position: relative;

}

.o-tag {
  font-size: 65%;
  font-style: normal;
  text-align: right;
  justify-content: flex-end;
  line-height: 1em;
  margin: 0.5em 0;
}

.o-bottom-right {
  @extend .o-tag;
  position: absolute;
  bottom: 0.5rem;
  right: 0.75rem;
  margin: 0;
}

.c-photo-credit {
  text-transform: uppercase;
  letter-spacing: 0.25px;
  color: rgba($white, 0.5);
  font-weight: 500;
  max-width: 18em;
}

.flag-links {
  font-family: $sansFont;
  font-size: 12pt;
}

.flag-links__icon {
  position: relative;
  bottom: -2px;
}

.CaseOverview--enroll-form {
  border-bottom: 5px solid $darkPurple;
  background-color: $purple;
  color: $white;
  padding: 1em;
  h2 {
    font-family: $sansFont;
    margin: 0;
  }
  p { margin: 0.35em 0; }
  button {
    background-color: $darkPurple;
    color: $white;
    padding: 0.5em 1em;
    width: auto;

    &:hover {
      background-color: darken($darkPurple, 10%);
    }
  }
}
