@import _globals
@import _flexbox
@import _tint_and_shade

#CaseOverview
  +flexbox
  +flex-flow(row)
  +justify-content(center)

  overflow-x: hidden

  @media screen and (max-width: $mobileCutoff)
    +flex-flow(row wrap)

  .Billboard
    +flex($fg: 0, $fs: 1, $fb: 40em)

    margin: 1em

  .CaseOverviewRight
    +flex($fg: 0, $fs: 1, $fb: 20em)
    @media screen and (max-width: $mobileCutoff)
      +flex($fg: 1, $fs: 1, $fb: 20em)

    min-width: 15em
    & > *
      margin: 1rem

.PodcastPlayer .artwork,
.EdgenoteDisplay
  position: relative

.o-tag
  font-size: 65%
  font-style: normal
  text-align: right
  justify-content: flex-end
  line-height: 1em
  margin: 0.5em 0

.o-bottom-right
  @extend .o-tag

  position: absolute
  bottom: 0.5rem
  right: 0.75rem
  margin: 0
