@import _globals
@import _flexbox
@import _columns
@import _tint_and_shade
@import Catalog

.CommentThreads
  position: absolute
  top: 0
  right: -290px
  background-color: #7351D4
  width: 267px
  position: absolute
  color: white
  font-family: 'tenso'
  font-weight: 500
  font-size: 12pt
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3)

.CommentThreads__footer
  border-top: 1px solid #351D7A
  padding: 0.25em

.CommentThreads__new-button
  margin: 0
  padding: 0.5em
  background-color: #493092
  border-width: 0
  font-size: 11pt
  letter-spacing: 0.4px
  font-weight: 500
  transition: background-color 0.1s
  color: white

  &:hover
    background-color: darken(#493092, 5%)

  &:disabled
    cursor: initial
    background-color: transparent

.Card.accepting-selection ::selection
  background-color: #bfaeec

.CommentThread__banner
  +banner

  font-family: $sansFont
  top: 0.8em

  @media screen and (max-width: $mobileCutoff)
    top: 0.55em

  padding: 0 0.5rem 0 0.4rem
  font-size: 70%
  color: white !important
  background-color: $purple
  border-left: 0.35rem solid shade($purple, 30%)
  cursor: pointer

  &:hover
    background-color: $purple !important
    text-decoration: none !important

.CommentThread__icon-button
  display: flex
  justify-content: center
  align-items: center

  &:hover
    background-color: rgba(0, 0, 0, 0.2)

.CommentThread
  padding: 1.5em
  border: 0.5em solid $purple
  background-color: $white
  position: absolute
  top: 0
  left: 18.1em
  width: 26em
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3)

  &__back
    position: absolute
    top: 3px
    left: 3px

    & > span
      width: 22px
      height: 22px

  form
    margin-top: 1em

    #CommentSubmit
      display: flex
      align-items: flex-end
      margin-bottom: 0.15em

      textarea
        flex: 5
        height: 3em
        margin: 0
        padding: 0.5em

        &::-webkit-input-placeholder
          color: $purple

        &:focus
          box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.2)

      button
        flex: 1
        margin: 0 0 0 1em
        letter-spacing: 0.7px
        color: white

.Comment
  color: shade($purple, 40%)
  line-height: 90%

  cite
    display: block

  blockquote
    margin: 0
    padding: 0
    line-height: 1.4
    font-weight: 400
    white-space: pre-wrap

  &:not(:first-of-type)
    margin-top: 1em

.Comment i,
.CommentThread__metadata__label
  color: $purple
  font-size: 70%
  font-style: normal
  text-transform: uppercase
  letter-spacing: 0.3px
  margin: 2px 0 0 0
  display: block
  font-weight: 400
  line-height: 1.0

.CommentThread__metadata
  margin-bottom: 1em

  &__text
    font-family: $serifFont
    position: relative

    &::before
      content: "“"
      color: black
      position: absolute
      left: -8px

    &::after
      content: "”"
      color: black
      position: absolute
      right: -8px

.Comment cite,
.CommentThread form label
  font-size: 95%
  color: shade($purple, 40%)
  font-weight: 700
  font-style: normal
  text-transform: uppercase
  letter-spacing: 0.4px

#Sidebar
  transition: margin-left 0.3s

#Sidebar.has-comments-open
  margin-left: 1em

.CommentThread__back
  display: none

@media screen and (max-width: 2025px)
  #Sidebar.has-comments-open
    margin-left: -10.5em

@media screen and (max-width: 1830px)
  #Sidebar.has-comments-open
    margin-left: -25em

@media screen and (max-width: 1600px)
  .Card.has-comments-open
    flex-basis: 27em

  #Sidebar.has-comments-open
    margin-left: -15em

  aside.CommentThread
    width: 26em

@media screen and (max-width: 1439px)
  aside.CommentThread
    width: 21em

@media screen and (max-width: 1364px)
  aside.CommentThread
    width: 16em

@media screen and (max-width: 1279px)
  aside.CommentThread
    left: 0
    width: 18em

  .CommentThread__back
    display: flex

  #Sidebar.has-comment-threads-open
    margin-left: -15em

  .Card.has-comments-open .CommentThreads__window
    display: none

@media screen and (max-width: 1024px)
  aside.CommentThread
    left: 0
    width: 18em

  #Sidebar.has-comment-threads-open
    margin-left: -15em

@media screen and (max-width: 768px)
  aside.CommentThread
    left: 0
    width: 16.5em

  .Card.has-comment-threads-open.has-comments-open
    flex-basis: 13.5em

  .Card.has-comment-threads-open
    flex-basis: 17em

@media screen and (max-width: $mobileCutoff)
  #Sidebar.has-comment-threads-open
    margin-left: 1em

  #Sidebar.has-comments-open
    margin-left: 1em

  .Card.has-comment-threads-open.has-comments-open,
  .Card.has-comment-threads-open
    flex-basis: 100%

  .CommentThreads
    top: inherit
    left: -1px
    right: -1px
    width: auto
    margin-top: 1em

  aside.CommentThread
    display: flex
    justify-content: space-between
    flex-direction: column
    position: absolute
    box-sizing: border-box
    width: calc(100vw - 1em)
    height: 150vw
