@import '_globals';
@import '_flexbox';
@import '_columns';
@import '_tint_and_shade';
@import 'Catalog';

.CommentThreads__new-button {
  margin: 0;
  padding: 0.75em;
  background-color: #493092;
  border-width: 0;
  border-top: 1px solid #351D7A;
  font-size: 11pt;
  letter-spacing: 0.4px;
  font-weight: 500;
  transition: background-color 0.1s;

  &:hover {
    background-color: darken(#493092, 5%);
  }

  &:disabled {
    cursor: initial;
    &:hover { background-color: #493092; }
  }
}

.Card.accepting-selection ::selection {
  background-color: #bfaeec;
}

.CommentThread__banner {
  @include banner;
  font-family: $sansFont;
  top: 0.8em;
  padding: 0 0.5rem 0 0.4rem;
  font-size: 70%;
  color: lighten($umichMaize, 20%);
  background-color: $purple;
  border-left: 0.35rem solid shade($purple, 30%);
  cursor: pointer;
}

#Sidebar {
  transition: margin-left 0.3s;
}
#Sidebar.has-comments-open {
  margin-left: -10.5em;
}


.CommentThread {
  padding: 1.5em;
  border: 0.5em solid $purple;
  background-color: $white;
  position: absolute;
  top: 0;
  left: 18.1em;
  width: 26em;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.3);

  form {
    margin-top: 1em;
    #CommentSubmit {
      display: flex;
      align-items: flex-end;
      margin-bottom: 0.15em;
      textarea {
        flex: 5;
        height: 3em;
        margin: 0;
        padding: 0.5em;
        &::-webkit-input-placeholder {
          color: $purple;
        }
        &:focus {
          box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.2);
        }
      }
      button {
        flex: 1;
        margin: 0 0 0 1em;
      }
    }
  }
}

.Comment {
  color: shade($purple, 40%);
  line-height: 90%;

  cite {
    display: block;
  }
  i {
    color: $purple;
    font-size: 80%;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    margin: 0.2rem 0 0 0;
    display: block;
  }
  blockquote {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-weight: 400;
  }

  &:not(:first-child) {
    margin-top: 1em;
  }
}

.Comment cite,
.CommentThread form label {
  font-size: 95%;
  color: shade($purple, 40%);
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
