@import '_globals';
@import '_flexbox';
@import '_columns';
@import '_tint_and_shade';

.CommentThread {
  padding: 1.5em;
  border: 0.5em solid $purple;
  background-color: $white;

  form {
    margin-top: 1em;
    #CommentSubmit {
      display: flex;
      align-items: baseline;
      input {
        flex: 5;
        &::-webkit-input-placeholder {
          color: $purple;
        }
      }
      button {
        flex: 1;
        margin-left: 1em;
      }
    }
  }
}

.Comment {
  color: shade($purple, 40%);
  line-height: 90%;

  cite { display: block; }
  i {
    color: $purple;
    font-size: 80%;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0.3rem 0;
    display: block;
  }
  blockquote {
    margin: 0;
    padding: 0;
  }

  &:not(:first-child) {
    margin-top: 1em;
  }
}

.Comment cite,
.CommentThread form label {
  font-size: 95%;
  color: shade($purple, 40%);
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}
