@import '_globals';
@import '_flexbox';
@import '_columns';
@import '_tint_and_shade';
@import 'Catalog';

.CommentThreads__new-button {
  margin: 0;
  padding: 0.75em;
  background-color: #493092;
  border-width: 0;
  border-top: 1px solid #351D7A;
  font-size: 11pt;
  letter-spacing: 0.4px;
  font-weight: 500;
  transition: background-color 0.1s;

  &:hover {
    background-color: darken(#493092, 5%);
  }
}

.CommentThread__banner {
  @include banner;
  font-family: $sansFont;
  top: 0.8em;
  padding: 0 0.5rem 0 0.4rem;
  font-size: 70%;
  color: lighten($umichMaize, 20%);
  background-color: $purple;
  border-left: 0.35rem solid shade($purple, 30%);
  cursor: pointer;
}

#Case article div.Card {
  transition: padding-top 0.1s, margin-left 0.3s;
}
#Case article div.Card.has-comments-open {
  margin-left: -14.3em;
  margin-right: 16em;
}


.CommentThread {
  padding: 1.5em;
  border: 0.5em solid $purple;
  background-color: $white;

  form {
    margin-top: 1em;
    #CommentSubmit {
      display: flex;
      align-items: baseline;
      input {
        flex: 5;
        &::-webkit-input-placeholder {
          color: $purple;
        }
      }
      button {
        flex: 1;
        margin-left: 1em;
      }
    }
  }
}

.Comment {
  color: shade($purple, 40%);
  line-height: 90%;

  cite { display: block; }
  i {
    color: $purple;
    font-size: 80%;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0.3rem 0;
    display: block;
  }
  blockquote {
    margin: 0;
    padding: 0;
  }

  &:not(:first-child) {
    margin-top: 1em;
  }
}

.Comment cite,
.CommentThread form label {
  font-size: 95%;
  color: shade($purple, 40%);
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}
