@import 'globals';

.devise-card {
  background-color: hsl(255, 100%, 95%);
  border-color: hsl(255, 64%, 63%);
  border-style: solid;
  border-width: 6px 0 0;
  color: hsl(255, 43%, 43%);
  margin-bottom: 3em;
  max-width: 100%;
  width: 22em;

  h2 {
    color: inherit;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0.5em;

    & ~ h2,
    & ~ form h2 {
      margin-top: 1em;
    }
  }

  .pt-form-group {
    margin-bottom: 0.5em;
  }

  .pt-text-muted,
  .pt-form-helper-text {
    color: hsl(255, 12%, 42%);
  }

  .devise-links {
    margin-top: 0.75em;

    a:hover {
      text-decoration: underline;
    }
  }

  .pt-callout.pt-intent-danger {
    color: black;
  }
}

#Case #Sidebar .devise-card {
  width: 16em;
}

.pt-button[class*="pt-icon-"].oauth-icon-google {
  display: inline-block;
  line-height: 21px;

  &::before {
    display: inline-block;
    content: " ";
    background-image: image_url('google-logo.svg');
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    margin-bottom: -3px;
  }
}
