@import _globals

.EditableList-add
  list-style-type: none

  a
    color: $lightGreen
    &:hover
      color: $lightGreen
      background-color: transparent
      text-decoration: underline

.EditableHTML-editing
  white-space: pre-wrap
  font-family: "fira-mono" !important
  font-size: 11pt !important

  &.Card
    padding: 2em 2.4em

.Card > .EditableHTML-editing
  margin-top: 0.6em

.EditableAttribute
  background-color: rgba($white, .7)
  border-radius: 2px
  padding: 0.5em 1em
  margin: 1em 0
  &:first-child
    margin-top: 0

  & > span
    font-family: "fira-mono" !important
    font-size: 10pt !important
    word-break: break-all
