@import _globals

.flash
  font: 90% $sansFont
  color: $white
  text-align: center
  width: 100%
  padding: 0.2em
  border-bottom-width: 2px
  border-bottom-style: solid
  overflow: hidden
  transition: all 0.2s ease-in

  a
    color: inherit
    text-decoration: underline

    &:hover
      background-color: transparent
      text-decoration: underline

.flash-alert
  background-color: $red
  border-bottom-color: darken($red, 10%)

.flash-notice
  background-color: darken($lightGreen, 10%)
  border-bottom-color: darken($lightGreen, 20%)
  color: $black

.flash-info
  background-color: #1d3f5e
  border-bottom-color: #193c5b

.flash-editing
  background-color: $white
  border-bottom-color: darken($white, 20%)
  color: $black
  text-transform: initial
  letter-spacing: 0em

.flash-hidden
  max-height: 0
  padding: 0
  border-width: 0
