@import _globals

form
  .field div
    display: inline

  .error_explanation, .field_with_errors label
    color: $red

.field em
  font-weight: 400
  font-size: 80%
  font-family: $sansFont

select, input, textarea, button
  font-family: $sansFont

.button--subtle
  background: transparent
  border: solid 1px lighten($purple, 10%)
  color: lighten($purple, 10%)
  font-weight: 600
  font-size: 80%
  font-family: $sansFont
  letter-spacing: 0.1em
  margin-top: 0.5em
  padding: 0.3em 0.5em
  width: auto
  -webkit-hyphens: none
  hyphens: none
  white-space: normal
  text-transform: uppercase
  transition: background-color 0.1s
  &:hover,
  &:focus
    color: lighten($purple, 20%)
    border-color: $purple
    cursor: pointer
    outline: none

  &--reverse
    background: $purple
    color: $white
    border: $purple
    padding: 0.6em 1.5em
    &:hover,
    &:focus
      background: darken($purple, 5%)
      color: white

input[type="checkbox"]
  bottom: 1px
  position: relative

.devise
  & > h2
    line-height: 1.1
    max-width: 20em

  form
    width: 20em

    #error_explanation
      h2
        display: none

      ul
        font: 90% $sansFont

.dialog--admin
  width: 30em

.field-reader-name
  width: 15em
.field-reader-initials
  width: 5em

form + ul
  list-style: none
  margin: 0.35em 0 0 0
  padding: 0

.dialog
  a
    font-size: 90%
    font-family: $sansFont
    color: $purple
    border: none
    box-shadow: none

  a:hover
    color: $purple
    background-color: inherit
    text-decoration: underline

.dialog:not(:first-child)
  margin-left: 1em

.actions--horizontal
  display: flex
  flex-flow: column

.form__callout
  margin-bottom: 1em

.reader-image-input
  display: flex

  & .pt-form-group
    flex: 1

  & .pt-progress-bar
    margin-top: 5px

  & img
    margin-left: 10px
    width: 57px
    height: 57px
    object-fit: cover
    border-radius: 2px
    background-color: #FAF9F5
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2)

.license
  margin-top: 5px;