@import _globals
@import _flexbox
@import _columns

.infoPanel
    display: flex
    flex-direction: row
    min-width: 0
    justify-content: space-between
    column-gap: 1.75em
    padding-bottom: 1em
.infoBox
    padding: 4px
    flex: 1 1 0
    min-width: 0
    border-radius: 2px
    text-overflow: ellipsis  // Not working
    overflow: hidden
    white-space: nowrap
    color: $white

    &#infoBoxRight
        background: #686000
    &#infoBoxLeft
        background: #7c5f41
    &#infoBoxMiddle
        background: #3b4569
.blog
    > h3
        color: $white
        margin-right: 2em
    > p 
        text-align: center
        > a
            width: 100%
            color: #D0E6FB
.feedLink
    color: $white


.moreLink
    background: $darkBlue
    margin: 1em
    border-radius: 2px
    width: 100%