.libraries__table {
  border-spacing: 0 6px !important;
  margin-top: -3.75em;
}

.library-logo {
  align-items: center;
  background-color: var(--library-background);
  border-left: 6px solid var(--library-foreground);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  display: flex;
  justify-content: center;

  img {
    margin: 0.5em;
    width: 43px;
  }
}

.library-description {
  max-width: 30em;
}

.library-button {
  white-space: pre;
}

.new_library, .edit_library {
  .row {
    display: flex;
    flex-direction: row;

    * {
      flex: 1;
    }
  }

  .pt-form-group {
    margin-bottom: 0;
  }
}


.libmanager {
  display: flex;

  .col1 {
    flex: 1; /* 1/4 of the width */
  }

  .col2 {
    flex: 3; /* 3/4 of the width */

    .librequests {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;

      .request {
        margin: 5px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 250px;

        .cover {
          margin: unset;
        }

        .title {
          font-size: 14px;
          margin: 5px;
        }

        button {
          margin-top: 10px;
          width: 100%;
        }

      }
    }

  }
}