.libraries__table {
  border-spacing: 0 6px !important;
  margin-top: -1.5em;
}

.library-logo {
  align-items: center;
  background-color: var(--library-background);
  border-left: 6px solid var(--library-foreground);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  display: flex;
  justify-content: center;

  img {
    margin: 0.5em;
    width: 43px;
  }
}

.library-description {
  max-width: 30em;
}

.library-button {
  white-space: pre;
}

.new_library, .edit_library {
  .row {
    display: flex;
    flex-direction: row;

    * {
      flex: 1;
    }
  }

  .pt-form-group {
    margin-bottom: 0;
  }
}
