@import _globals
@import _flexbox
@import _tint_and_shade

html, body, div#Case
  min-height: 100vh
  -webkit-hyphenate-character: '-'

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: tint($umichBlue, 20%)
  margin: 0
  font: 100% $sansFont
  line-height: 143%

h1, h2
  font-family: $sansFont
  font-weight: 600

p
  margin-bottom: 1em

ul, ol
  padding-left: 1em

blockquote
  font-size: 0.9em
  line-height: 1.5em
  padding: 0 1em 0 1em

a.o-button
  padding: 7px 10px

  &:hover
    color: #0B1B2E
    text-decoration: none

.o-button.pt-button
  font-weight: 600
  font-size: 80%
  font-family: $sansFont
  letter-spacing: 0.5px
  text-transform: uppercase
  margin-top: 0.5em

.o-button:not(.pt-button)
  background: $purple
  border: 0
  color: white
  font-weight: 600
  font-size: 80%
  font-family: $sansFont
  letter-spacing: 0.1em
  margin-top: 0.5em
  padding: 0.5em 1em
  width: auto
  -webkit-hyphens: none
  hyphens: none
  white-space: normal
  text-transform: uppercase
  transition: background-color 0.1s

  &:hover,
  &:focus
    background: $darkPurple
    cursor: pointer
    outline: none

.o-button-multiline
  white-space: normal
  padding: 5px 10px

h1, h2, h3, h4, h5, h6, ul, ol, li, blockquote, p, figcaption, a, abbr, span,
em, strong
  -webkit-font-feature-settings: "kern", "liga"
  font-feature-settings: "kern", "liga"

strong
  font-weight: inherit
  letter-spacing: 1px
  font-feature-settings: "smcp"
  -webkit-font-feature-settings: "smcp"

.loading-icon
  +flex($fg: 0, $fs: 0)

  +justify-content(center)

  svg
    -webkit-animation-name: spin
    -webkit-animation-duration: 1000ms
    -webkit-animation-iteration-count: infinite
    -webkit-animation-timing-function: linear
    -moz-animation-name: spin
    -moz-animation-duration: 1000ms
    -moz-animation-iteration-count: infinite
    -moz-animation-timing-function: linear
    -ms-animation-name: spin
    -ms-animation-duration: 1000ms
    -ms-animation-iteration-count: infinite
    -ms-animation-timing-function: linear
    animation-name: spin
    animation-duration: 1000ms
    animation-iteration-count: infinite
    animation-timing-function: linear
    transform-origin: 53% 53% 0px

.loading-icon + .loading-icon
  display: none

@-ms-keyframes spin
  from
  -ms-transform: rotate(0deg)

  to
  -ms-transform: rotate(360deg)

@-moz-keyframes spin
  from
  -moz-transform: rotate(0deg)

  to
  -moz-transform: rotate(360deg)

@-webkit-keyframes spin
  from
  -webkit-transform: rotate(0deg)

  to
  -webkit-transform: rotate(360deg)

@keyframes spin
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)

.devise-links li
  line-height: 1.1

  &:not(:last-child)
    margin-bottom: 0.3em
  a
    font-size: 15px

.dialog
  background-color: $white
  border: 0.5em solid $purple
  padding: 1em
  color: $darkPurple
  align-self: flex-start

  h1, h2, h3, h4, h5, h6, p, a
    font-size: 17px
    font-family: $sansFont

    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 0

  h1, h2
    color: $darkPurple
    letter-spacing: 0.03em
    line-height: 1.1em
    margin-top: 1.5em
    text-transform: uppercase

a
  cursor: pointer
  &:hover
    text-decoration: initial

p a:hover
  text-decoration: underline

.disabled
  pointer-events: none

sup, sub
  vertical-align: baseline
  position: relative
  top: -0.4em

sub
  top: 0.4em

.sortable-helper
  z-index: 999
