.md-container {
  display: grid;
  grid-gap: 2rem;
  grid-template: 'md-header md-header' 'md-master md-detail' auto / 20rem auto;

  @media (max-width: 900px) {
    grid-template: 'md-header' 'md-master' 'md-detail';
  }
}

.md-header {
  grid-area: md-header;
}

.md-master {
  grid-area: md-master;
}

.md-detail {
  grid-area: md-detail;
}
