@import '_globals';
@import '_flexbox';
@import '_columns';

.Modal-header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 101;

  background-color: $white;
  border-bottom: 3px solid $purple;

  .modalClose {
    position: relative;
    bottom: -3pt;
    g {
      stroke: $purple;
    }
  }
  .modalClose:hover{
    background-color: transparent;
    path { stroke: $purple }
  }

  .edgenote-icon {
    display: inline;
    position: relative;
    bottom: -3pt;
    margin-left: 2em;
    g {
      stroke: tint($umichBlue, 30%);
    }
  }

  h4 {
    font-family: $serifFont;
    color: $black;
    display: inline;
    font-weight: 400;
    font-style: italic;
    margin-left: 0.75em;
    position: relative;
    bottom: 3pt;
  }
}

a.modalDismiss {
  position: fixed;
  background-color: rgba( darken($black, 10%), 0.8 ) !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
}

.Modal {
  position: fixed;
  top: 0px; left: 0px;
  width: 100%;
  height: 100%;

  aside {
    position: absolute;
    margin-top: 4em;
    z-index: 100;
    width: 100%;
    height: 100%;

    font-family: $serifFont;
    font-weight: 400;

    .Modal-contents {
      height: calc(100% - 4em);
      overflow: scroll !important;

      .loading-icon {
        width: 2em;
        margin: auto;
      }

      .Card {
        margin: 1em auto;
        max-width: 40em;
      }

      .Modal-theatre,
      .Modal-gallery{
        @include flexbox;
        @include flex-flow(column);
        @include justify-content(flex-start);
        overflow-y: scroll;

        padding-bottom: 2em;

        > * {
          @include flex($fg: 0, $fs: 0, $fb: auto);
          height: auto;
          padding: 1em;
          margin: 0 auto;
          pointer-events: initial;
        }
      }

      .Modal-theatre{
        height: 100%;
        > * {
          height: 90%;
          overflow: show;
        }
      }

    }

    a {
      box-shadow: none;
      border-bottom: 0px;
      color: $darkGreen;
    }
    a.modalClose {
      color: $black;
    }
    a:hover {
      box-shadow: none;
      background-color: transparent;
      border-bottom: 1px solid $darkGreen;
      path {
        stroke: $purple;
      }
    }
    a.modalClose:hover{
      border-bottom: 0px;
    }

    iframe {
      width: 90%;
    }

    figcaption {
      font-size: 90%;
      line-height: 1.4;
    }
  }
}
