@import _globals
@import _flexbox

.section
  +flexbox

  +flex-flow(row wrap)

  +justify-content(flex-start)

  h1, h2, h3, h4, h5, h6
    color: $white
    font-weight: 500
    margin: 20px 20px 0 20px

    @media screen and (min-width: $mobileCutoff)
      margin: 20px 30px 5px 30px

  h1
    font-size: 1.3em
    letter-spacing: 0.2px
    line-height: 1.1em

  h2
    font-size: 1.1em
    line-height: 1em
    margin-top: 10px

  blockquote
    margin: 10px 10px 0 10px

  .card-container
    font-size: 19px
    margin: 1rem 0

    +flex($fg: 0, $fs: 1, $fb: 40.8em)

    @media screen and (max-width: 1440px)
      +flex($fg: 0, $fs: 1, $fb: 31.8em)


  .Card
    margin: 9px
    height: 100%

    @media screen and (min-width: $mobileCutoff)
      margin: 0.5rem 1rem

    & > span
      margin: 1rem 0

  &.Page-meta
    align-items: baseline

  .Page-delete-option
    font-family: $sansFont
    color: $red
    background-color: $white
    padding: .1em .25em

    &:hover
      text-decoration: underline

.Card
  background-color: $white
  border-radius: 2pt
  font-family: $serifFont
  font-size: 19px
  font-weight: 400
  line-height: 19pt
  padding: 1.2em 2.4em
  position: relative
  -webkit-hyphens: auto
  -moz-hyphens: auto
  hyphens: auto

  @media screen and (max-width: $mobileCutoff)
    padding: 0.1em 0.7em

    &.commentable
      padding-top: 0.75em

  \::selection
    background-color: rgb(159, 187, 214)
    text-shadow: none

  p,
  & > .DraftEditor-root div[data-block],
  & > div > .DraftEditor-root div[data-block]
    margin: 1em 0

  .DraftEditor-root a:not(.c-edgenote-entity)a:not(.c-revealable-entity):not(.c-edgenote-entity--inactive):not(.pt-button)
    color: $darkGreen

    &:hover
      background-color: transparent
      text-decoration: underline

  a.c-edgenote-entity
    text-decoration: none
    color: inherit
    box-shadow: inset 0 -0.35em 0 $lightGreen
    border-bottom: 1px solid $lightGreen
    transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1)

    span
      text-shadow: none

    &:hover
      background-color: $lightGreen
      color: inherit
      text-decoration: none

    &--inactive
      text-decoration: none
      color: inherit
      box-shadow: inset 0 -0.35em 0 $lightGreen
      border-bottom: 1px solid $lightGreen
      transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1)

      background-color: inherit
      cursor: initial

      &:hover
        background-color: inherit

  a.c-revealable-entity
    display: inline-block
    text-decoration: none
    border-bottom: 1px dotted $black
    transition: border 0.15s cubic-bezier(0.33, 0.66, 0.66, 1)

    span
      text-decoration: none
      text-shadow: 0 0 6px $black
      color: transparent

    &--reveal
      display: inline-block
      border-bottom: 1px dotted $black
      transition: border 0.15s cubic-bezier(0.33, 0.66, 0.66, 1)
      span
        text-shadow: none
        color: $black

.s-CaseElement__Activity .Card .public-DraftEditor-content > div > p:first-child
  margin-top: 0

.nextLink
  margin-left: 1em
  padding: 0.5em 0 2em 0
  display: block
  font-family: $sansFont
  font-weight: 500
  color: $umichMaize
  text-decoration: none

  &:after
    content: ' ▸'

a.nextLink:hover
  background-color: transparent
  color: $umichMaize
  text-decoration: underline

footer h2
  width: 100%
  text-align: center
  padding: 1em 0 2em 0
  color: $white

.citation
  position: relative
  cursor: pointer

  .citation-label
    color: shade($lightGreen, 30%)

  cite
    display: inline-block
    font-style: initial
    position: absolute
    background: $lightGreen
    font: 14px $sansFont
    width: 20em
    padding: 0.25em 0.5em
    left: 0.75em
    border-radius: 2px
    box-shadow: 0 0 10px rgba(black, 0.2)
    opacity: 0
    pointer-events: none

  &.citation-visible cite
    opacity: 100
    pointer-events: initial
