noscript .bp3-running-text {
  color: white;
  font-family: tenso;
  padding: 1em;
  max-width: 45em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
    font-family: tenso;
    line-height: 1.2;
  }
}
