.personas {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 25px;
  width: 100%;

  &__welcome {
    max-width: 700px;
  }

  &__headline {
    font-size: 28px;
  }

  &__choices {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 0;

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }

  &__choice {
    border-style: solid;
    border-width: 6px 0 0;
    display: flex;
    flex-direction: column;

    h2 {
      color: inherit;
      font-size: 20px;
    }

    p {
      flex: 1;
    }
  }

  &__skip {
    color: hsl(210, 54%, 86%);

    a {
      color: inherit;
      transition: color 0.1s ease-out;

      &:hover {
        color: white;
      }

      &::after {
        content: ' ›';
      }
    }
  }
}

.persona {
  &--learner {
    background: hsl(255, 100%, 95%) !important;
    border-color: hsl(255, 64%, 63%);
    color: hsl(255, 43%, 43%) !important;
    fill: hsl(255, 100%, 95%);
  }

  &--teacher {
    background: hsl(36, 100%, 94%) !important;
    border-color: hsl(36, 85%, 51%);
    color: hsl(36, 100%, 32%) !important;
    fill: hsl(36, 100%, 95%);
  }

  &--writer {
    background: hsl(160, 50%, 91%) !important;
    border-color: hsl(128, 60%, 42%);
    color: hsl(131, 75%, 26%) !important;
    fill: hsl(160, 50%, 90%);
  }
}
