@import "_globals";

.reading-list {
  max-width: 80rem;

  &__info {
    margin-bottom: 16px;

    &__reader{
      display: flex;
      align-items: baseline;

      * {
        margin-right: 8px;
      }
    }
  }

  &__tag {
    color: hsl(210, 64%, 86%);
    display: inline-block;
    font-size: 14px;

    .bp3-icon {
      margin-right: 4px;
    }
  }

  &__actions {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}

.reading-list-item {
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 16px;

  align-items: center;
  grid-template-columns: min-content auto 77px;
  @media (max-width: $mobileCutoff) {
    align-items: flex-start;
    grid-template-columns: min-content auto;
  }

  &__case-link {
    @media (max-width: $mobileCutoff) {
      grid-column: 2 / span 1;
    }
  }

  &__notes {
    border-left: 4px solid hsl(210, 31%, 39%);
    max-width: 45em;
    padding-left: 8px;

    grid-column: 1 / span 3;
    margin-bottom: 32px;
    @media (max-width: $mobileCutoff) {
      grid-column: 1 / span 2;
      margin-bottom: 0px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__action {
    @media (max-width: $mobileCutoff) {
      grid-column: 1 / span 2;
      grid-row: 3;
      margin-bottom: 64px;
    }
  }
}
