@import _globals
@import _flexbox

.window
  +flexbox

  +justify-content(center)

  @media screen and (max-width: $mobileCutoff)
    +flex-flow(row wrap)

  & > *
    height: 100%

#Sidebar
  flex: 0 0 14rem

  @media screen and (max-width: $mobileCutoff)
    flex-grow: 1

.main
  flex: 0 1 90rem

.header
  background-color: $umichBlue

  &__container
    max-width: 1667px
    margin: auto
    padding: 1em
    display: flex
    justify-content: space-between
    align-items: center

  & > a:hover
    background-color: inherit


  #gala-logo
    margin: 0pt 1pt

    svg
      height: 36px
      width: auto
      margin-bottom: -6px
  #msc-logo
    margin: 0pt 1pt

    svg
      width: 22.5em

      @media screen and (max-width: $mobileCutoff)
        width: 18em

    background-repeat: no-repeat

    span
      display: none

  #reader-menu
    cursor: pointer

    .dismiss
      z-index: 10

    #reader-icon
      position: absolute
      z-index: 11
      right: 3em

  ul#reader-menu-dropdown
    background-color: $purple
    position: absolute
    z-index: 11
    min-width: 10em
    top: -1em
    right: -1em
    margin: 0
    padding: 5.3em 0 0 1.5em
    list-style: none
    box-shadow: 0 0 7em -1em $black

    li
      border-top: 1px solid $darkPurple
      text-align: right
      font-weight: 500
      text-transform: uppercase
      letter-spacing: 0.05em

    li:hover
      background-color: $darkPurple

    a
      display: block
      background-color: transparent
      padding: 0.5em 2em 0.5em 1em
      color: $yellow

    li a:hover
      color: $yellow

  .dropdown-caret
    position: absolute
    top: 2.1em
    right: 1.4em
    z-index: 12

#reader-icon
  font-size: 90%
  text-transform: uppercase
  border: 2px solid $white
  color: $white
  background: $darkBlue
  background-size: cover
  display: inline-block
  width: 2.5rem
  height: 2.5rem
  border-radius: 5rem
  padding-top: 0.5em
  text-align: center

#reader-sign-in
  padding-top: 0.5rem

  a
    color: $yellow
    &:hover
      background-color: $lightGreen
      color: $black

.dropdown-caret
  display: inline-block
  width: 0
  height: 0
  vertical-align: -2px
  content: ""
  border: 4px solid $white
  border-right-color: transparent
  border-bottom-color: transparent
  border-left-color: transparent
  margin-left: 0.3em

.hidden
  display: none

.spaced
  * + *
    margin-top: 1em

  .row
    * + *
      margin-top: 0
      margin-left: 1em

  .row--compact
    * + *
      margin-top: 0
      margin-left: 0.5em

.spaced--compact
  * + *
    margin-top: 0.5em

.spaced, .spaced--compact
  .non-spaced, .pt-form-group, .pt-callout, .pt-control-group, .pt-input-group,
  .pt-button-group
    * + *
      margin-top: 0
      
.row, .row-compact
  .non-spaced, .pt-form-group, .pt-callout, .pt-control-group, .pt-input-group,
  .pt-button-group
    * + *
      margin-left: 0
