.Toolbar
  &__bar
    width: 100%
    background-color: #1d3f5e
    border-color: #1d3f5e
    border-width: 2px
    border-style: solid
    border-bottom-color: #193c5b
    font: 90% 'tenso'

  &__group
    height: 36px
    margin: 0 8px
    flex: 1
    white-space: nowrap

.MaxWidthContainer
  max-width: 1667px
  width: 100%
  margin: 0 auto
