.pt-non-ideal-state
  .pt-non-ideal-state-visual.pt-non-ideal-state-icon
    %span.pt-icon.pt-icon-folder-open
  %h3.pt-non-ideal-state-title= t '.deploy_a_case'
  .pt-non-ideal-state-description= t '.instructions'
