%footer.footer
  .footer__container
    .footer__copyright
      © 2016 –
      = Time.zone.now.year
      The Regents of the University of Michigan
    .footer__links
      = link_to 'Get Help', 'https://docs.learngala.com'
      = link_to 'Open Source', 'https://github.com/galahq/gala'
