<nav class="Toolbar__bar pt-dark">
  <div class="MaxWidthContainer">
    <div class="Toolbar__group pt-navbar-group">
      <%= link_to t('catalog.catalog'), root_path,
                  class: 'pt-button pt-minimal pt-icon-home' %>
      <%= link_to t('my_cases.index.my_cases'), my_cases_path,
                  class: 'pt-button pt-minimal pt-icon-book' %>
    </div>
  </div>
</nav>

<div class="window window-admin">
  <div class="MaxWidthContainer">
    <%= yield %>
  </div>
</div>

<% parent_layout 'with_header' %>
