<header class="header">
  <div class="header__container" style="justify-content: center">
    <%= link_to root_path, id: "gala-logo" do %>
      <%= inline_svg 'gala-logo.svg' %>
    <% end %>
  </div>
</header>

<div class="window" style="min-height: calc(100% - 73px)">
  <%= yield %>
</div>

<% parent_layout 'application' %>
