<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= "#{@case.kicker}: #{@case.title}" %></title>
  <%= stylesheet_link_tag 'print' %>
</head>
<body>
  <header>
    <%= image_tag 'gala-logo.svg' %>
  </header>

  <%= yield %>
</body>
</html>
